.pw-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
.pw-info {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px;
}
.pw-info__form {
  width: max-content;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  hr {
    width: 100%;
    margin: 15px 0;
  }
  .pw-info__form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: $red;
      margin-right: 5px;
    }
    span {
      font-size: 20px;
      font-weight: 500;
    }
  }
  label {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  input {
    background-color: $inputColor;
    width: 250px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: none;
  }
  .pw-info__form-submit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    input[type="submit"] {
      cursor: pointer;
      background-color: $blackgray;
      font-size: 18px;
      color: white;
      border: none;
      width: max-content;
      padding: 10px 25px;
      margin-top: 10px;
    }
    input[type="submit"]:hover {
      background-color: $hoverGray;
    }
  }
}
