.edit-profile-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-profile-part {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  img {
    width: "100px";
    height: "100px";
    border-radius: 50%;
  }
}
.edit-profile-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label {
    margin: 10px 0;
  }
  input {
    background-color: $inputColor;
    width: 250px;
    margin-bottom: 14px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
  }
  input:last-child {
    width: 150px;
    background-color: $blackgray;
    font-size: 18px;
    color: white;
    border: none;
  }
  input:last-child:hover {
    background-color: $hoverGray;
  }
}
