.upload-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.upload-part {
  background-color: $white;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.upload-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input {
    background-color: $inputColor;
    width: 250px;
    margin-bottom: 14px;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }
  label {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  input:last-child {
    width: 150px;
    background-color: $blackgray;
    font-size: 18px;
    color: white;
    border: none;
  }
  input:last-child:hover {
    background-color: $hoverGray;
  }
}
.video__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #preview {
    width: 450px;
    height: 450px;
  }
  #authBtn,
  #startBtn {
    background-color: $white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    span {
      margin-right: 5px;
      font-size: 17px;
    }
    .fa-record-vinyl {
      color: red;
    }
    .fa-stop {
      color: blue;
    }
    .fa-download {
      color: black;
    }
  }
  #authBtn:hover,
  #startBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
}
