extends base

block content
    main.loginMain
        div.login-logo
            i.fab.fa-youtube.fa-7x 
            h1 당신의 스토리를 함께 나눠보세요.
        div.login-info
            if errorMessage 
                span=errorMessage
            form(method="POST").login-form
                input(placeholder="Username" name="username"  required type="text")
                input(placeholder="Password" name="password" required type="password")
                input(type="submit" value="Login")
            br
            a(href="users/github/start") Continue with Github
            hr
            div  
                span 계정이 없나요? 
                a(href="/join") 회원가입&rarr; 