extends base

block content
    main.login-main
        div.login-logo
            div.login-logo__title
                i.fab.fa-youtube.fa-7x 
                span Login
            h1 당신의 스토리를 함께 나눠보세요.
        div.login-info
            form(method="POST").login-form
                input(placeholder="Username" name="username"  required type="text")
                input(placeholder="Password" name="password" required type="password")
                input(type="submit" value="Login")
            br
            div.login__social
                h1 Continue with 
                div.login__social-bar
                div
                    div.login__social-github
                        a(href="users/github/start") 
                            i.fab.fa-github.fa-lg
                            span Github
                    div.login__social-kakao
                        a(href="users/kakao/start") 
                            i.fas.fa-comment.fa-lg
                            span KakaoTalk
            hr
            div  
                span 계정이 없나요? 
                a(href="/join") 회원가입&rarr;
block scripts
    