header 
    a(href="/").header__title
        i.fab.fa-youtube.fa-3x  
        h1 YouTube

    form(method="GET").formSearch
        input(type="text" placeholder="Search By Title" name="keyword")
        input(type="submit" value="")
        i.fas.fa-search.fa-lg

    nav.header-nav 
        
        ul 
            li 
                a(href="/search") Search
            if loggedIn 
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`) My profile
                li
                    a(href="/users/logout") 
                        i.fas.fa-sign-out-alt.fa-lg
            else
                li 
                    a(href="/join") Join 
                li 
                    a(href="/login") 
                        i.fas.fa-sign-in-alt.fa-lg