header
    div#title
        button 
            i.fas.fa-bars.fa-2x
        a(href="/").header__title
            i.fab.fa-youtube.fa-3x
            h1 YouTube

    form(method="GET" action="/search").search-form
        input(type="text" placeholder="Search By Title" name="keyword")
        i.fas.fa-search.fa-lg
        input(type="submit" value="")

    nav.header-nav 
        
        ul 
            if loggedIn 
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.socialOnly
                            img.avatar(src=loggedInUser.avatarUrl crossorigin)
                        else 
                            img.avatar(src="/"+loggedInUser.avatarUrl)

                li
                    a(href="/users/logout") 
                        i.fas.fa-sign-out-alt.fa-lg
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") 
                        i.fas.fa-sign-in-alt.fa-lg