extends ../base

block content
    div.pwBody
        div.pw_info
            form(method="post").pw_form
                input(placeholder="Old Password" type="password" name="OldPassword")
                input(placeholder="New Password" type="password" name="NewPassword")
                input(placeholder="New Password Confirm" type="password" name="NewPasswordConfirm")
                input(type="submit" value="change password")
