extends ../base

block content
    div.pw-main
        div.pw-info
            form(method="post").pw-info__form
                div.pw-info__form-title
                    i.fab.fa-youtube.fa-2x
                    span 비밀번호 변경 
                hr
                label 현재 비밀번호
                input(placeholder="현재 비밀번호" type="password" name="OldPassword")
                label 새 비밀번호
                input(placeholder="새 비밀번호" type="password" name="NewPassword")
                input(placeholder="새 비밀번호 확인" type="password" name="NewPasswordConfirm")
                input(type="submit" value="change password")
